{% extends 'base.html.twig' %}

{% block title %}Hello QcmController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Liste des thèmes ✅</h1>

    <ul>
        {% for theme in themes %}
            <li>{{ theme.id }} - {{ theme.theme }}</li>
        {% else %}
            <li>Aucun thème disponible.</li>
        {% endfor %}
    </ul>

    <a href="{{ path('app_logout') }}">Déconnexion</a>
</div>
{% endblock %}
